@*@model IEnumerable<AudioPlayer.EntityModel.Audio>*@
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<style>
        .navbar-inverse {
            background-color: #286090;
            border-color: #286090;
        }

            .navbar-inverse .navbar-nav > li > a {
                color: #fff;
            }

            .navbar-inverse .navbar-brand {
                color: #fff;
            }

        .input-group {
            position: relative;
            display: inline-flex;
            border-collapse: separate;
        }
    </style>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />*@

@*<div class="container py-4">
        <h3 class="text-center text-uppercase">A/V Player</h3>
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h6 class="text-uppercase" style="padding: 20px 10px; font-size: 14px; font-weight: bold;">Audio List</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <button style="margin-left: 15px;margin-bottom:10px;border-radius:0;" type="button" class="btn btn-primary rounded-0" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-plus-circle"></i> Import Audio
                    </button>
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Upload New Audio File</h4>
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm("UploadAudio", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {

                                        <div class="form-group">
                                            <label>Choose File:</label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" id="fileupload" name="fileupload" class="custom-file-input" />
                                                    <label class="custom-file-label"></label>
                                                </div>
                                                <div class="input-group-append">
                                                    <input type="submit" id="btnUpload" class="btn btn-primary" value="Upload Audio" style=" border-radius: 0;" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <table id="dataTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>File Size(kb)</th>
                            <th>Play Audio</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() <= 0)
                        {
                            <tr>
                                <td colspan="4" class="text-center"> No Records Found . Please upload new mp3 file</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>

                                    <td>@item.ID</td>
                                    <td>@item.Filename</td>
                                    <td>@item.FileSize</td>
                                    <td>
                                        <audio controls>
                                            <source src="@Url.Content(@item.FilePath)" type="audio/ogg">
                                        </audio>
                                    </td>

                                </tr>

                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>*@



@*<script>
        $(document).ready(function () {
            $('#dataTable').DataTable();

            $("audio").on("play", function () {
                $("audio").not(this).each(function (index, audio) {
                    audio.pause();
                });

            });
        });
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>*@



<div class="section">
    <div class="heading">
        <div class="d-flex flex-wrap align-items-end">
            <div class="flex-grow-1">
                <h4>Your Playlist</h4>
                <p>You best to listen</p>
            </div>
            <a href="/Home/Playlist" class="btn btn-sm btn-pill btn-air btn-primary">View All</a>
        </div>
        <hr />
    </div>
    <div class="carousel-item-4 arrow-pos-1">
        <div class="custom-card">
            <div class="custom-card--img">
                <a href="javascript:void(0);">
                    <img src="~/Content/assets/images/background/horizontal/1.jpg" alt="DJ Remix" class="card-img--radius-lg" />
                    <span class="bg-blur">MyList</span>
                </a>
            </div>
        </div>
        <div class="custom-card">
            <div class="custom-card--img">
                <a href="javascript:void(0);">
                    <img src="~/Content/assets/images/background/horizontal/1.jpg" alt="DJ Remix" class="card-img--radius-lg" />
                    <span class="bg-blur">MyList</span>
                </a>
            </div>
        </div>
        <div class="custom-card">
            <div class="custom-card--img">
                <a href="javascript:void(0);">
                    <img src="~/Content/assets/images/background/horizontal/1.jpg" alt="DJ Remix" class="card-img--radius-lg" />
                    <span class="bg-blur">MyList</span>
                </a>
            </div>
        </div>
        <div class="custom-card">
            <div class="custom-card--img">
                <a href="javascript:void(0);">
                    <img src="~/Content/assets/images/background/horizontal/1.jpg" alt="DJ Remix" class="card-img--radius-lg" />
                    <span class="bg-blur">MyList</span>
                </a>
            </div>
        </div>
    </div>
</div>